{% extends 'base.html' %}

{% block content %}
<div class="container justify-content-center align-items-center d-flex flex-column">
    <div class="mt-4 mb-4 col-6 ">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="city" class="form-label">City Name</label>
                <input type="text" class="form-control" id="city" name="city" placeholder="Enter City Name">
            </div>
            <button type="submit" class="btn btn-primary">Get Weather</button>
        </form>
    </div>



    {% for weather in weather_data %}
    <!-- <img src="http://openweathermap.org/img/w/{{weather.icon}}.png" class="card-img-top" alt="..." sizes="3">
         <div class="card-body">
            <h5 class="card-title">{{weather.city}}</h5>
            <p class="card-text">Temperature: {{weather.temperature}} °C</p>
            <p class="card-text">Description: {{weather.description}}</p>
        </div> -->
<div class="col-12">
 <div class="row d-flex justify-content-center py-5">
        <div class="col-md-8 col-lg-6 col-xl-5">

            <div class="card text-body" style=" border-radius: 35px;">
                <div class="card-body p-4">

                    <div class="d-flex">
                        <h6 class="flex-grow-1">{{weather.city}}</h6>
                        <h6>15:07</h6>
                    </div>

                    <div class="d-flex flex-column text-center mt-5 mb-4">
                        <h6 class="display-4 mb-0 font-weight-bold"> {{weather.temperature}}°C </h6>
                        <span class="small" style="color: #868B94">{{weather.description}}</span>
                    </div>

                    <div class="d-flex align-items-center">
                        <!-- <div class="flex-grow-1" style="font-size: 1rem;">
            <div><i class="fas fa-wind fa-fw" style="color: #868B94;"></i> <span class="ms-1"> 40 km/h
              </span>
            </div>
            <div><i class="fas fa-tint fa-fw" style="color: #868B94;"></i> <span class="ms-1"> 84%
              </span></div>
            <div><i class="fas fa-sun fa-fw" style="color: #868B94;"></i> <span class="ms-1"> 0.2h
              </span></div>
          </div> -->
                        <div>
                            <img src="http://openweathermap.org/img/w/{{weather.icon}}.png" width="100px">
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
   

    {% endfor %}


</div>
{% endblock content %}